@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Noto+Sans+Arabic:wght@400;700;900&display=swap');

:root {
  font-family: 'Noto Sans Arabic', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
}
